project: common-lit-eval-stu-summerize
name: experiment-tracking-Common_Lit_Evaluate_Student_Summaries
wandb:
  WANDB_API_KEY: WANDB_API_KEY
  entity: baolocpham
  project: common-lit-eval-stu-summerize
  name: common-lit-eval-stu-summerize
  group: common-lit-eval-stu-summerize_training
  job_type: Train_Supervised
parameters:
  root_data_dir: "./data"
  n_fold: 4
  save_model_dir: "./outputs"
  model:
    select: "base"
    model_name: "microsoft/deberta-v3-{select}"
    only_model_name: "deberta-v3-{select}"
    tokenizer: None
    accum_iter: 16
    fold: 4
    split: 5
    seed: 42
    batch_size: 2
    max_len: 32
    num_epoch: 5
    T_max: 500
    scheduler: "CosineAnnealingLR"
    min_lr: 1e-6
    freezing: False
    n_layers_freezing: 0
    pooling: "GemText"
    weight_decay: 1e-2
    encoder_lr: 1e-5
    decoder_lr: 1e-5
    eps: 1e-6
    betas: (0.9, 0.999)

  inference:
    select: "base"
    model_name: "microsoft/deberta-v3-{select}"
    only_model_name: "deberta-v3-{select}"
    n_fold: 4
    fold_to_inference: 0
    batch_size: 32
    freezing: False
    max_len: 32
    pooling: "GemText"
    load_model_dir: ""
    output_dir: ""
